cache:
  paths:
    - node_modules/
    
stages:
    - build
    - deploy

deploy:
  image: circleci/node:8.11.2
  stage: deploy
  script:
    - npm install # Install all dependencies
    - npm run build --prod # Build for prod
  only:
    - master # run on master branch
  artifacts:
    paths:
    - build/

deploy:
  image: circleci/golang:1.9.6
  stage: deploy
  script:
    - go get -v github.com/bep/s3deploy
    - s3-deploy -source=build/ -region=us-east-1 -key=$PROD_AWS_ACCESS_KEY_ID -secret=$PROD_AWS_SECRET_ACCESS_KEY -distribution-id=$AWS_CLOUDFRONT_DISTRIBUTION_ID -bucket=$BUCKET_NAME
  only:
    - master # run on master branch