# Using the node alpine image to build the React app
image: circleci/node:8.11.2

# Announce the URL as per CRA docs
# https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#advanced-configuration
# Cache node modules - speeds up future builds
variables:
    PUBLIC_URL: "/qa-dashboard" # slash is important

cache:
  paths:
    - node_modules/
    
before_script:
    - go get -v github.com/bep/s3deploy
    - npm install # Install all dependencies

stages:
    - deploy

deploy:
  stage: deploy
  script:
    - npm run build --prod # Build for prod
    - echo $PROD_AWS_ACCESS_KEY_ID
    - echo $PROD_AWS_SECRET_ACCESS_KEY
    - echo $AWS_CLOUDFRONT_DISTRIBUTION_ID
    - echo $BUCKET_NAME
    - s3-deploy -source=build/ -region=us-east-1 -key=$PROD_AWS_ACCESS_KEY_ID -secret=$PROD_AWS_SECRET_ACCESS_KEY -distribution-id=$AWS_CLOUDFRONT_DISTRIBUTION_ID -bucket=$BUCKET_NAME
  only:
    - master # run on master branch