image: nikolaik/python-nodejs:latest

cache:
  paths:
    - node_modules/

stages:
  - deploy

deploy production:
  stage: deploy
  script:
  - yarn
  - export NODE_OPTIONS=--openssl-legacy-provider
  - yarn build
  - pip install awscli
  - aws s3 cp ./build/ s3://$BUCKET_NAME/ --recursive --include "*"
  - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
  - echo "Deploy to $BUCKET_NAME"
  artifacts:
      paths:
      - build
  environment:
      name: production
      url: https://luisasalas.com
  only:
  - master
